.App {
  text-align: center;
}

/* // All pages */
main {
  background-image: url(/src/assets/signup.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* // Login page */
.login-div {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(12px);
  width: 50%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 40px;
}


.navbar {
  background: linear-gradient(173.01deg, #3B7979 5.45%, #245745 54.87%, #0D3535 104.28%);
  
}

button {
  width: 447px;
  height: 51px;

  background: #DF6A2E;
  border-radius: 8px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* NAVBAR */
.appShell {
  color: white
}


/* // Home page  */

.welcome-header {
  background-image: url('https://res.cloudinary.com/obliviate/image/upload/v1656593072/Pet-Hub/horse_lqscwo.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px 40px 0px 0px;
  height: 360px;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  margin: 40px 40px 0px 40px;
}

.welcome-header h1 {
  font-size: 56px;
  margin-bottom: 0px;
}

.welcome-header p {
  font-size: 20px;
}

.pet-card{
  background-color: rgba(255, 255, 255, 0.4);
  padding-bottom: 80px;
  border-radius: 0px 0px 40px 40px;
  margin: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pet-card h2 {
  font-size: 40px;
  color: #133D39  ;
}

.pet-card button{
  margin-right: 20px;
  background-color: #4BC0C8;
  font-size: 20px;
  color: white;
  height: 35px;
  width: 300px;
  border-radius: 15px;
}

.pet-card button a{
  color: white;
}

.petList {
  padding: 20px;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; 

}

.polaroid {
  width: 100%;
  border-radius: 12px;
  background: white;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.polaroid img{
  border-radius: 10px 10px 0 0;
  position: relative;
  max-height: 140px;
  object-fit: cover;
}

.polaroid p {
  border-radius: 10px 10px 0 0;
}

.container {
  height: 50px;
  text-align: center;
  padding: 10px 20px 0 20px;
  font-size: 15px;
  color: black;
}

.container a{
  color: black;
}

.container a:hover{
  color: navy;
}

.all-petList {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 80px;
  border-radius: 10px;
  margin: 50px auto;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}


.pet-details {
  margin: 20px;
  padding: 50px;
}


.allpets-div h2 {
  font-size: 40px;
  color: #133D39 ;
}

a {
  color: white;
  text-decoration: none;
}

.profile-pets h2 {
  font-size: 40px;
  color: #133D39 ;
}

.hello-div {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 40px 80px rgba(222, 119, 1, 0.2), 0px -40px 80px rgba(7, 131, 177, 0.4);
  backdrop-filter: blur(12px);
  color: white;
  border-radius: 20px;
  padding: 10px 40px 40px 40px;

}

.hello-div h1 {
  font-size: 38px;
  font-weight: 100;
  margin: 20px 0 0 0;
  color: #fcfcfc;
}

.hello-div h3 {
  font-size: 48px;
  font-weight: 500;
  margin: 20px 0 0 0;
}

.hello-div p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 100;
}


.pet-details h2 {
  font-size: 40px;
  color: #133D39 ;
  margin: 0 40px 40px 40px;
}

.details-card {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 80px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:  40px;

}


.details-card img{
  border-radius: 40px ;
  position: relative;
  max-height: 800px;
  object-fit: cover;
  margin-top: 20;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

